<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xo.demo.basic_jsbridge" >
    <application>
        <activity
            android:name=".BasicJsBridgeActivity"
            android:description="@string/js_bridge_description">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="org.xo.demo.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>
</manifest>
